<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <br />
    <br />
    <br />
    <div class="row justify-content-center">
      <h1><i class="fa fa-meh-o fa-5x" aria-hidden="true"></i></h1>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center">
        <h1>404</h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4 offset-sm-4 text-center">
        <h1>Page not found</h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center">
        <h5>
          The page you are looking for doesn't exist or an other error occurred
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center">
        <h5>
          Go back, or head over to
          <a href="http://localhost:4200/">http://localhost:4200/</a> to choose
          a new direction
        </h5>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <app-inside-footer></app-inside-footer>
  </body>
</html>
