<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="container-fluid">
      <br />
      <hr />
      <div class="row">
        <div class="col-sm-3 offset-sm-1">
          <h1><em>Reset Password</em></h1>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 offset-sm-2">
          <br />
          <img
            src="/assets/images/resetlink.png"
            alt="ResetLinkImage"
            width="300px"
            height="300px"
          />
        </div>
        <div class="col-sm-4 offset-sm-3 mt-5">
          <form
            #resetPasswordForm="ngForm"
            (ngSubmit)="
              resetPassword(resetPasswordForm); resetPasswordForm.reset()
            "
          >
            <h5>Enter your password details...</h5>
            <hr />
            <h6>Below password requirement needs to be fulfilled</h6>
            <ol>
              <li>&nbsp;Password be minimum 8 characters</li>
              <li>&nbsp;Must contain atleast one uppercase character</li>
              <li>&nbsp;Must contain atleast one numerical character</li>
              <li>&nbsp;Must contain atleast one special character</li>
            </ol>
            <div *ngIf="isLoading" class="form-group row">
              <div class="col-10 offset-1">
                <h6 style="text-align: center">
                  Setting password and redirecting...
                </h6>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </div>
            <label for="resetPassword1"></label>
            <input
              ngModel
              name="resetPassword1"
              #resetPassword1="ngModel"
              type="password"
              maxlength="36"
              class="form-control"
              id="resetPassword1"
              placeholder="New password "
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
            />
            <label for="resetPassword2"></label>
            <input
              ngModel
              name="resetPassword2"
              #resetPassword2="ngModel"
              type="password"
              maxlength="36"
              class="form-control"
              id="resetPassword2"
              placeholder="Confirm new password"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
            />
            <hr />
            <div class="form-group row">
              <div class="col-6 offset-3">
                <button
                  type="submit"
                  class="btn btn-success btn-block"
                  [disabled]="!resetPasswordForm.valid"
                >
                  Set password
                </button>
              </div>
            </div>
          </form>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
    <app-notification></app-notification>
    <app-footer></app-footer>
  </body>
</html>
