body {
  background-image: url("/assets/images/home.jpg");
  background-size: cover;
  min-height: 100vh;
}

.btn {
  color: #d7ccc8;
  border: none;
  font-family: "Cambria", cursive, sans-serif;
  border-radius: 25px;
}

h1,
h5,
h6,
li {
  color: #d7ccc8;
  font-family: "Candara", cursive, sans-serif;
}
.form-control {
  border-radius: 10px;
}
.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}
