<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 mt-1">
            <a routerLink="/home"
              ><img
                src="/assets/images/logo.png"
                alt="FootstepsBrandLogo"
                width="80px"
                height="80px"
            /></a>
            <br />
            <p>
              We are a young business that is constantly searching for fresh and
              innovative ideas to assist you in your daily job with our
              products.
            </p>
          </div>
          <div class="col-sm-3 mt-4 offset-sm-1">
            <p>
              <i class="fa fa-map-marker"></i>&nbsp;&nbsp; Electronic City,
              Bengaluru 560100
            </p>
            <p>
              <i class="fa fa-phone"></i>&nbsp;&nbsp; Phone: (+91) 965 045 5188
            </p>
            <p>
              <i class="fa fa-envelope"></i>&nbsp;&nbsp; Email:
              contact.footsteps@gmail.com
            </p>
          </div>
          <div class="col-sm-3 mt-2 ml-auto">
            <p>
              <a href="" class="btn" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="" class="btn" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="" class="btn" target="_blank"
                ><i class="fa fa-linkedin"></i
              ></a>
            </p>
            <p class="ml-2">
              <small>Copyright © 2020 Footsteps Technologies</small>
            </p>
            <p>
              <a routerLink="/terms-and-conditions" class="btn btn-sm"
                >Terms of Service</a
              >
              |
              <a routerLink="/privacy-policy" class="btn btn-sm"
                >Privacy Agreement</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
