.container-fluid {
  background-image: url("/assets/images/home.jpg");
  background-size: auto;
}

h1,
h3,
h4,
p,
a {
  color: #d7ccc8;
  font-family: "Cambria", cursive, sans-serif;
}

a:hover {
  color: gray;
}
a:focus {
  box-shadow: none;
}
