<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="row">
      <div class="col-sm-4 text-center">
        <small>
          <i class="fa fa-envelope"></i>&nbsp;&nbsp; Email:
          contact.footsteps@gmail.com
        </small>
      </div>
      <div class="col-sm-4 text-center">
        <small>Copyright © 2020 Footsteps Technologies</small>
      </div>
      <div class="col-sm-4 text-center">
        <small>
          <i class="fa fa-map-marker"></i>&nbsp;&nbsp; Electronic City,
          Bengaluru 560100
        </small>
      </div>
    </div>
  </body>
</html>
