.contactus {
  background-image: url("/assets/images/home.jpg");
  background-size: cover;
}
.btn {
  color: #d7ccc8;
  border: none;
  font-family: "Cambria", cursive, sans-serif;
  border-radius: 10px;
}
.btn:hover {
  color: white;
}
.btn:focus {
  box-shadow: none;
}
i {
  color: #d7ccc8;
}
address,
p,
h2,
h5,
h6 {
  color: #d7ccc8;
  font-family: "Candara", cursive, sans-serif;
}
.form-control {
  border-radius: 10px;
}
.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}
