<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="container-fluid">
      <br /><br /><br />
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6 offset-sm-2">
              <h2><strong>Link is not valid anymore...</strong></h2>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-8 offset-sm-2">
              <h5>Oops! This reset URL is not valid anymore</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 offset-sm-2 mt-4">
              <a href="/home" class="btn btn-sm btn-info">Go to Home page</a>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <img
            src="/assets/images/expirelink.png"
            alt="LinkExpireImage"
            width="500px"
            height="500px"
          />
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <app-footer></app-footer>
  </body>
</html>
