<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <app-inside-header class="fixed-top"></app-inside-header>
    <br />
    <br />
    <div *ngIf="showLoadingScreen">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!showLoadingScreen">
      <br /><br />
      <div class="container" id="candidateDetailsContainer">
        <br />
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 text-center mt-2">
                <h5 style="color: white">
                  <b>{{ job.jobTitle }}</b>
                </h5>
              </div>
            </div>
          </div>
          <div class="card-body" id="jobBasic">
            <div class="row">
              <div class="col-sm-8 ml-4">
                <br />
                <h6 class="card-title">
                  <b>{{ job.jobDesignation }}</b>
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 ml-4">
                <h6>
                  <b>{{ job.jobOrganization }}</b>
                </h6>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-8 ml-4">
                <h6>
                  <b>Total number of applications:</b>
                  {{ job.numberOfApplicants }}
                </h6>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3 offset-sm-2">
                <a
                  class="btn btn-sm btn-block btn-success mt-2"
                  (click)="changeAllToReferred(job.jobId)"
                  style="color: white"
                  >Respond to all applicants
                </a>
              </div>
              <div class="col-sm-3 offset-sm-2">
                <a
                  class="btn btn-sm btn-block btn-primary mt-2"
                  (click)="downloadAllResumes(job.jobId, job.jobTitle)"
                  style="color: white"
                  >Download All Resumes
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="card">
          <div class="card-body" id="jobDescription">
            <div class="row">
              <div class="col-sm-10">
                <h5><b>Applicant Details</b></h5>
              </div>
            </div>
            <hr />
            <div
              *ngFor="let candidate of job.applicants; let j = index"
              class="row mt-1"
            >
              <div class="col-sm-10 offset-sm-1">
                <h6>
                  <i class="fa fa-caret-right"></i>&nbsp;<b>Application Id: </b
                  >{{ candidate.applicationId }}
                </h6>
                <br />
                <h6 class="ml-5">
                  <b>Applicant Name: </b>{{ candidate.firstName }}
                  {{ candidate.lastName }}
                </h6>
                <h6 class="ml-5">
                  <b>Response Status: </b>{{ candidate.applicationStatus }}
                </h6>
                <h6 class="ml-5"><b>Email: </b>{{ candidate.email }}</h6>
                <h6 *ngIf="candidate.phoneNumber != null" class="ml-5">
                  <b>Phone Number: </b>{{ candidate.phoneNumber }}
                </h6>
                <br />
                <h6 class="ml-5">
                  <b>Applied On: </b>{{ candidate.createdDate | date }}
                </h6>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-10">
                <h5><b>Wish to see detailed job description ?</b></h5>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-10">
                <a
                  routerLink="/view-job"
                  [queryParams]="{
                    jobId: job.jobId
                  }"
                  class="btn btn-secondary"
                  style="color: white"
                  >Click to view job description</a
                >
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <br />
      <app-notification></app-notification>
      <app-inside-footer></app-inside-footer>
    </div>
  </body>
</html>
