<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="jobreferrer">
      <!-- Header Section -->
      <nav class="navbar navbar-expand-xl navbar-dark">
        <a routerLink="" class="navbar-brand ml-1"
          ><img
            src="/assets/images/logo.png"
            width="90px"
            height="90px"
            alt="FootstepsBrandLogo"
        /></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-4">
              <a routerLink="/home" class="btn btn-sm btn-outline-dark px-3"
                >HOME</a
              >
            </li>
            <li class="nav-item ml-4">
              <a routerLink="/about-us" class="btn btn-sm btn-outline-dark px-3"
                >ABOUT US</a
              >
            </li>
            <li class="nav-item ml-4">
              <a
                routerLink="/job-seeker"
                class="btn btn-sm btn-outline-dark px-3"
                >JOB SEEKER</a
              >
            </li>
            <li class="nav-item ml-4">
              <a
                routerLink="/job-referrer"
                class="btn btn-sm btn-outline-dark px-3 active"
                >JOB REFERRER</a
              >
            </li>
            <li class="nav-item dropdown ml-4">
              <a
                class="btn btn-sm btn-outline-dark dropdown-toggle px-3"
                data-toggle="dropdown"
              >
                MORE
              </a>
              <div class="dropdown-menu">
                <a routerLink="/contact-us" class="btn btn-sm dropdown-item"
                  >Contact Us</a
                >
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4">
              <a routerLink="/register" class="btn btn-sm btn-outline-dark px-3"
                >REGISTER &nbsp;&nbsp; <i class="fa fa-user-plus"></i
              ></a>
            </li>
            <li class="nav-item ml-4">
              <a routerLink="/login" class="btn btn-sm btn-outline-dark px-3"
                >LOGIN &nbsp;&nbsp; <i class="fa fa-sign-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Data Section-->
      <div class="container-fluid">
        <hr />
        <div class="row justify-content-center">
          <div class="col-9">
            <h1><em>Let's meet Job Referrer!</em></h1>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-7">
            <br /><br />
            <p class="mx-5 text-justify">
              Referrer refers to an employee who knows someone directly who has
              the right talents for an open work role, referring them lets
              employers save time and money in the recruiting process.
            </p>
            <br />
            <h5 class="mx-5 text-justify">
              <strong>What's the need of Footsteps?</strong>
            </h5>
            <p class="mx-5 text-justify">
              What would we do for a referrer, exactly? Just hang on to this
              idea. Typically, when an opening comes up in the organization, the
              referrer knows one or two people to whom he may refer to the
              recruiting team. As many candidates will apply applications for
              the job, so you get many candidates and receive referral
              incentives from organization for each of them if applicable.
              <br />For the best part, We don't exchange referrer information to
              the pursuing applicants to stop them bugging you now and then.
            </p>
          </div>
          <div class="col-sm-3">
            <br />
            <img
              src="/assets/images/jobreferrer.png"
              width="375px"
              height="230px"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <h5 class="mx-5">
              <strong>Employee Referral Benefits</strong>
            </h5>
            <p class="mx-5 text-justify">
              The Employee referral incentive is a bonus given to a company's
              employees for referring others to join the organization. This
              usually arises as the employer is increasingly increasing and
              services are needed. Employee referral incentives are ideal
              opportunities for workers to contribute to the interests of the
              company in a powerful way. <br /><br />
              Although there is often a possibility that an employee puts
              his/her professional integrity on a referred individual's line. If
              you refer someone they'll know who has the proper temperament and
              appearance to complement, you will know what the organisation is
              like.
            </p>
          </div>
        </div>
        <div class="row"><br /><br /></div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
