<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="jobseeker">
      <!-- Header Section -->
      <nav class="navbar navbar-expand-xl navbar-dark">
        <a routerLink="" class="navbar-brand ml-1"
          ><img
            src="/assets/images/logo.png"
            width="90px"
            height="90px"
            alt="FootstepsBrandLogo"
        /></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-4">
              <a routerLink="/home" class="btn btn-sm btn-outline-dark px-3"
                >HOME</a
              >
            </li>
            <li class="nav-item ml-4">
              <a routerLink="/about-us" class="btn btn-sm btn-outline-dark px-3"
                >ABOUT US</a
              >
            </li>
            <li class="nav-item ml-4">
              <a
                routerLink="/job-seeker"
                class="btn btn-sm btn-outline-dark px-3 active"
                >JOB SEEKER</a
              >
            </li>
            <li class="nav-item ml-4">
              <a
                routerLink="/job-referrer"
                class="btn btn-sm btn-outline-dark px-3"
                >JOB REFERRER</a
              >
            </li>
            <li class="nav-item dropdown ml-4">
              <a
                class="btn btn-sm btn-outline-dark dropdown-toggle px-3"
                data-toggle="dropdown"
              >
                MORE
              </a>
              <div class="dropdown-menu">
                <a routerLink="/contact-us" class="btn btn-sm dropdown-item"
                  >Contact Us</a
                >
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4">
              <a routerLink="/register" class="btn btn-sm btn-outline-dark px-3"
                >REGISTER &nbsp;&nbsp; <i class="fa fa-user-plus"></i
              ></a>
            </li>
            <li class="nav-item ml-4">
              <a routerLink="/login" class="btn btn-sm btn-outline-dark px-3"
                >LOGIN &nbsp;&nbsp; <i class="fa fa-sign-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Data Section-->
      <div class="container-fluid">
        <hr />
        <div class="row justify-content-center">
          <div class="col-9">
            <h1><em>Who is a Job Seeker?</em></h1>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-7">
            <br /><br />
            <p class="mx-5 text-justify">
              Jobseeker refers to a person who is actively pursuing an
              opportunity/job for employment and has submitted an application to
              the employer. Typically, any job seeker applies with many online
              recruitment tools to boost career development prospects.
            </p>
            <br />
            <h5 class="mx-5 text-justify">
              <strong>How Footsteps helps him?</strong>
            </h5>
            <p class="mx-5 text-justify">
              Footsteps is a special portal targeting the referrer and the
              seeker. A partnership which holds the company's HR at a distance.
              We segregate and classify as per experience, location, skill sets
              all the referred employment jobs. Sets of techniques that allow a
              career seeker to find an effective job as per his preference in
              qualifications.
            </p>
            <p class="mx-5 text-justify"></p>
          </div>
          <div class="col-sm-3">
            <br />
            <img
              src="/assets/images/jobseeker.png"
              width="375px"
              height="230px"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <h5 class="mx-5">
              <strong>What is an interesting work for a jobseeker?</strong>
            </h5>
            <p class="mx-5 text-justify">
              For the jobseeker, we describe interesting work as one that
              satisfies his skill set, and both employee and employer are
              benefited. While it is feasible, what is fascinating and important
              work for one person can be something different from the next
              individual with the same skill set. We describe the jobseeker as
              the person who wants to move jobs. They are searching for them.
              They may be fresher, working or unemployed, or they may simply
              like to change their work positions or places. <br /><br />
              Footsteps is determined to support them in discovering the right
              strategies for their own career quest in their fascinating and
              important jobs.
            </p>
          </div>
        </div>
        <div class="row"><br /><br /></div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
