<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col-sm-1">
          <a routerLink=""
            ><img
              src="/assets/images/logo.png"
              alt="FootstepsBrandLogo"
              width="90px"
              height="90px"
              alt="CoolBrand"
          /></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 offset-sm-3">
          <img
            src="/assets/images/restricted.png"
            alt="Restricted Image"
            width="650px"
            height="550px"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 offset-sm-3">
          <h2 class="mx-5">
            <b>You don't have permission to view this page</b>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 offset-sm-3">
          <h6 class="mx-5">
            <em
              >Please click below button and you can be redirected to the home
              page...</em
            >
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 offset-sm-3 my-5">
          <a routerLink="/home" class="btn btn-primary mx-5">Go to Home page</a>
        </div>
      </div>
    </div>
  </body>
</html>
